# Service Name
##########################################
SERVICE_NAME=x-service

# Environment: Development, Production
##########################################
ENVIRONMENT=Development

# Published Topics
##########################################
TOPIC_PRODUCT_UPDATES=product-updates-v1
TOPIC_ORDER_UPDATES=order-updates-v1

# Subscribed Topics
##########################################
SUBSCRIBE_PRODUCT_UPDATES=x-service-product-updates-v1
SUBSCRIBE_ORDER_UPDATES=x-service-order-updates-v1

# Push Delivery Endpoints
##########################################
ENDPOINT_PRODUCT_UPDATES=https://0349-185-96-183-231.ngrok-free.app/api/PubSub/Subscription1
ENDPOINT_ORDER_UPDATES=https://0349-185-96-183-231.ngrok-free.app/api/PubSub/Subscription2

# Database Config
##########################################
# This should be set as a local env variable not as a secret
MONGODB_DB=Development
# This is a secret
MONGODB_CONNECTION_STRING=

# Pubsub Emulator Settings
##########################################
# This is only used on local development, and is auto called by the library.
PUBSUB_EMULATOR_HOST=localhost:8085
# This is automatically set when deployed on the cloud.
GOOGLE_CLOUD_PROJECT=project-r-393911